<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plane.name %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @plane.rows %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @plane.columns %>
</p>


<h2>Seating plan for this plane</h2>
<table>
  <tbody>
    <% plane_rows_array = 1..@planeRows %>
    <% plane_columns_array = 1..@planeColumns %>
    <% plane_rows_array.to_a.each_with_index do |val, i| %>
        <!-- <% letter_array = ("a"..."z").to_a %> -->
        <% letter = @alphabet[i] %>
      <tr>
        <% plane_columns_array.to_a.each_with_index do |val, i| %>
          <td><%= i.to_s + letter %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
