<p id="notice"><%= notice %></p>
<div class="yoProfile">
  <h1>
    <%= @user.name %>
  </h1>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @user.admin %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  <div class="planesYo">
    <div id="planeRight1" class="bump"><img src="/assets/Plane-1.png" alt="A flying plane" class="planeRight1" /></div>
    <div id="planeRight2" class="bump"><img src="/assets/Plane-2.png" alt="A flying plane" class="planeRight2" /></div>
    <div id="planeLeft1" class="bumpOther"><img src="/assets/Plane-3.png" alt="A flying plane" class="planeLeft1" /></div>
    <div id="planeLeft2" class="bumpOther"><img src="/assets/Plane-4.png" alt="A flying plane" class="planeLeft2" /></div>
    <div id="planeRight3" class="bump"><img src="/assets/Plane-5.png" alt="A flying plane" class="planeRight3"></div>
    <div id="planeRight4" class="bump"><img src="/assets/Plane-6.png" alt="A flying plane" class="planeRight4"></div>
    <div id="planeLeft3" class="bumpOther"><img src="/assets/Plane-7.png" alt="A flying plane" class="planeLeft3" /></div>
  </div>
</div>
