<p id="notice"><%= notice %></p>
<div class="allReservations">
  <h1 class="reservationsHeader">Your Reservations</h1>

  <table class="showReservations">
    <thead>
      <tr class="alignTextLeft">
        <!-- <th>User</th> -->
        <th>Flight</th>
        <th>Date</th>
        <th>Seat</th>
        <!-- <th>Column</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <!-- <td><%= @current_user.name %></td> -->
          <td><%= reservation.flight.flightnum %></td>
          <td><%= reservation.flight.date %></td>
          <td><%= reservation.row.to_s + @alphabet[reservation.column.to_i-1] %></td>
          <!-- <td><%= reservation.column %></td> -->
          <!-- <td><%= link_to 'Show', reservation %></td> -->
          <!-- <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td> -->
          <td><%= link_to 'Delete', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Reservation', search_path %>
</div>
