<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Akronim|Anaheim|Eater|Finger+Paint|Jolly+Lodger" rel="stylesheet">
</head>

<body>
  <header>
    <nav id="navbar">
     <div class="nav-wrapper blue-grey lighten-3">
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><%= link_to "Home", root_path %> </li>
           <% if @current_user %>
            <% if @admin %>
             <li><%= link_to "Profile List", users_path %></li>
              <li><%= link_to "New Plane", new_plane_path %></li>
              <li><%= link_to "Plane List", planes_path %></li>
              <li><%= link_to "New Flight", new_flight_path %></li>
            <% end %>
            <li><%= link_to "Your Profile", @current_user %></li>
            <li><%= link_to "Reservations", reservations_path %></li>
            <li><%= link_to "Search", searchresults_path %></li>
            <li><%= link_to "All Flight Details", flights_path %></li>
            <li><%= link_to "Log out", logout_path, :method => :delete %></li>
           <% else %>
             <li><%= link_to "Create Profile", new_user_path %></li>
             <li><%= link_to "Log In", login_path %></li>
           <% end %>
         <li class="sign_in">
           <% if @current_user %>
             Signed in as <%= @current_user.name %>
           <% end %>
         </li>
       </ul>
     </div>
     <div class="bottom_nav">
       <% if flash[:success] %>
         <p><%= flash[:success] %></p>
       <% end %>
       <% if flash[:error] %>
         <p><%= flash[:error] %></p>
       <% end %>
     </div>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
